.bg-gray{
  background-color : #FAFAFA;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta e corta a imagem para cobrir o container */
  position: relative;
  z-index : 0 !important;
}

.z-1{
  z-index: 1;
}
