.grid-schedule {
  display: grid;
  grid-template-columns: minmax(310px, 1fr) 3fr;
  gap: 24px;
}

.img-card {
  min-width: 270px;
  width: 100%;
  height: 270px;
}

@media (max-width: 1000px) {
  .grid-schedule {
    grid-template-columns: 1fr;
  }
}
  
.react-calendar { 
  width: 100%; 
  border: none;
  background-color: transparent;
}

.react-calendar__tile--now{
  color: black;
  background-color: #84C0C6 !important;
}
.react-calendar__tile--now:hover{
  color: white;
  background-color: #0C4C73 !important;
}



.rbc-event { 
  border-radius: 10px; 
  margin-left: 5px !important;
  border: none;
  color: white; 
  padding: 5px; 
  margin: auto;
  width: 100%;
} 

.rbc-toolbar { 
  background-color: #f8f9fa; 
} 

.rbc-header.rbc-today{
  background-color: transparent !important;
}

.rbc-day-slot .rbc-time-slot { 
  border-top: 1px solid #ddd; 
}

.rbc-timeslot-group{
  display: flex;
  align-items: center;
}

.rbc-button-link {
  pointer-events: none;
  cursor: default;
}

.rbc-time-view, .rbc-header, .rbc-time-header-content, .rbc-time-column:first-of-type .rbc-timeslot-group{
  border: none !important;
}

.rbc-events-container [role="button"] {
  border: none;
  background-color: #84C0C6 !important;
}

.rbc-allday-cell{
  height: 0% !important;
  width: 0% !important;
}

.dayName {
  font-weight: normal;
}

.formattedDate {
  font-size: 1.5rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #9FB7B988;
  color: white;
}

.rbc-header.rbc-today .formattedDate{
  background-color: #84C0C6;
  border: 2px solid #0C4C73;
  color: #0C4C73;
  box-sizing: border-box;
}

.rbc-event-content, .rbc-event-label{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .rbc-event-content, .rbc-event-label {
    color: transparent;
  }
  .formattedDate {
    font-size: 1.2rem;
    width: 2.25rem;
    height: 2.25rem;
  }
}

.rbc-label{
  color: #84C0C6;
}

.emphasis{
  background-color: #84C0C6;
}