.grid-travel {
  display: grid;
  grid-template-columns: minmax(310px, 1fr) 3fr;
  gap: 24px;
}

.img-card {
  min-width: 270px;
  width: 100%;
  height: 270px;
}

@media (max-width: 1000px) {
  .grid-travel {
    grid-template-columns: 1fr;
  }
}
